In [1]:
# 3.1 Loops for automating repetitive tasks

P = 100
r = 5.0
n = 0
while n <= 10:
    A = P * (1+(r/100))**n
    print(f"{n:2} {A:15.4f}")
    n = n + 1

 0        100.0000
 1        105.0000
 2        110.2500
 3        115.7625
 4        121.5506
 5        127.6282
 6        134.0096
 7        140.7100
 8        147.7455
 9        155.1328
10        162.8895

In [8]:
# 3.2 Boolean expression

t = 40
print(t == 40)
print(t >= 40)
print(t != 40)
print(t < 40)
print(t > 40)

True
True
False
False
False

In [12]:
t = 40
c = 41
print(c != 40)
print(c > 40)

True
True

In [1]:
x = 0; y = 1.2
print(x >= 0 and y < 1)
print(x >= 0 or y < 1)
print(x > 0 or y > 1)
print(x > 0 or not y > 1)
print(-1 < x <= 0) # same as -1 < x and x <= 0
print(not (x > 0 or y > 0))

False
True
True
False
True
False

In [12]:
# 3.3 Using Lists to store sequences of Data

n = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
L1 = [-91, "sheyi is a good boy", 7.2, 0]
print(n[3])
print(L1[1])

3
sheyi is a good boy

In [15]:
myList = [4, 6, -3.5]
print(myList[0])
print(myList[1])
print(myList[2])
len(myList)

4
6
-3.5

3

In [24]:
n = [0, 1, 2, 3, 4, 5, 6, 7, 8]
n.append(9)
print(n)

n = n + [10, 11]
print(n)

print(9 in n)

del n[0]
print(n)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
True
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [2]:

a = [1, 2, 3, 4]
b = a  # if we want to create a copy of the original list, we used b = a.copy() 
print(a)
print(b)
b[-1] = 6
print(a)
print(b)

[1, 2, 3, 4]
[1, 2, 3, 4]
[1, 2, 3, 6]
[1, 2, 3, 6]

In [6]:
# Using a.copy() format

a = [1, 2, 3, 4]
b = a.copy()  # if we want to create a copy of the original list, we used b = a.copy() 
print(a)
print(b)
b[-1] = 6
print(b, a)
print(a == b)

[1, 2, 3, 4]
[1, 2, 3, 4]
[1, 2, 3, 6] [1, 2, 3, 4]
False

In [3]:
# 3.4 Iterating Over a List with for Loop

y = 5
x = 10


while x <= 20:
    z = x + y
    print(z)
    x = x + 1

15
16
17
18
19
20
21
22
23
24
25

In [5]:
years = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
r = 5.0
P = 100.0
for n in years:
    A = P * (1+(r/100))**n
    print(f"{n:2} {A:15.4f}")

 0        100.0000
 1        105.0000
 2        110.2500
 3        115.7625
 4        121.5506
 5        127.6282
 6        134.0096
 7        140.7100
 8        147.7455
 9        155.1328
10        162.8895

In [7]:
# Using the function range to loop over indices

P = 100
r = 5.0
N = 10
for n in range(N+1):            # range(stop)
    A = P * (1+(r/100))**n
    print(f'{n:2} {A:15.4f}')

 0        100.0000
 1        105.0000
 2        110.2500
 3        115.7625
 4        121.5506
 5        127.6282
 6        134.0096
 7        140.7100
 8        147.7455
 9        155.1328
10        162.8895

In [9]:
for n in range(0, 5):             # range(start, stop)
    A = P * (1+(r/100))**n
    print(f' {n:2} {A:15.4f}')

  0        100.0000
  1        105.0000
  2        110.2500
  3        115.7625
  4        121.5506

In [11]:
for n in range(2, 9, 3):             # range(start, stop, increment)
    A = P * (1+(r/100))**n
    print(f' {n:2} {A:15.4f}')

  2        110.2500
  5        127.6282
  8        147.7455

In [14]:
print(range(3))
print(list(range(3)))

range(0, 3)
[0, 1, 2]

In [19]:
# Filling a list with values using a for loop

P = 100
r = 5.0
N = 10
amounts = []                        # start with empty list
for n in range(N+1):
    A = P * (1+(r/100))**n
    amounts.append(A)               # add new element to amounts list
print(amounts)

[100.0, 105.0, 110.25, 115.76250000000002, 121.55062500000003, 127.62815625000003, 134.00956406250003, 140.71004226562505, 147.7455443789063, 155.13282159785163, 162.8894626777442]

In [23]:
# mathematical sums are implemented as for loops

N = 14
S = 0
Sums = []
for i in range(1, N+1):
    S += i**2
    Sums.append(S)
print(Sums)

[1, 5, 14, 30, 55, 91, 140, 204, 285, 385, 506, 650, 819, 1015]

In [25]:
# How we can change the elements in a list

v = [-1, 1, 10]
for i in range(len(v)):
    v[i] = v[i] + 2
print(v)

[1, 3, 12]

In [26]:
# List comprehensions for compact creation of lists

P = 100
r_low = 2.5
r_high = 5.0
N = 10
A_high = []
A_low = []
for n in range(N+1):
    A_low.append(P*(1+r_low/100)**n)
    A_high.append(P*(1+r_high/100)**n)
print(A_low)
print(A_high)

[100.0, 102.49999999999999, 105.06249999999999, 107.68906249999996, 110.38128906249996, 113.14082128906244, 115.96934182128899, 118.86857536682123, 121.84028975099173, 124.88629699476652, 128.00845441963565]
[100.0, 105.0, 110.25, 115.76250000000002, 121.55062500000003, 127.62815625000003, 134.00956406250003, 140.71004226562505, 147.7455443789063, 155.13282159785163, 162.8894626777442]

In [10]:
# Using the list comprehension approach

P = 100
r_low = 2.5
r_high = 5.0
N = 10
A_low = [(P*(1+r_low/100)**n) for n in range(N+1)]
A_high = [(P*(1+r_high/100)**n) for n in range(N+1)]
print(A_low)
print(A_high)

[100.0, 102.49999999999999, 105.06249999999999, 107.68906249999996, 110.38128906249996, 113.14082128906244, 115.96934182128899, 118.86857536682123, 121.84028975099173, 124.88629699476652, 128.00845441963565]
[100.0, 105.0, 110.25, 115.76250000000002, 121.55062500000003, 127.62815625000003, 134.00956406250003, 140.71004226562505, 147.7455443789063, 155.13282159785163, 162.8894626777442]

In [30]:
# Traversing multiple lists simultaneously with zip

P = 100
r_low = 2.5
r_high = 5.0
N = 10
for i in range(len(A_low)):
    print(f'{A_low[i]:4f} {A_high[i]:20.4f}')

100.000000             100.0000
102.500000             105.0000
105.062500             110.2500
107.689062             115.7625
110.381289             121.5506
113.140821             127.6282
115.969342             134.0096
118.868575             140.7100
121.840290             147.7455
124.886297             155.1328
128.008454             162.8895

In [11]:
# Using the zip approach method

P = 100
r_low = 2.5
r_high = 5.0
N = 10
for low, high in zip(A_low, A_high):
    print(f'{low:4f} {high:20.4f}')

100.000000             100.0000
102.500000             105.0000
105.062500             110.2500
107.689062             115.7625
110.381289             121.5506
113.140821             127.6282
115.969342             134.0096
118.868575             140.7100
121.840290             147.7455
124.886297             155.1328
128.008454             162.8895

In [34]:
l1 =  [3, 6, 1, 5, 10, 28,45]
l2 = [1.5, 1, 0, 12, 18]
l3 = [9.1, 3, 2, 9.0]
for e1, e2, e3 in zip(l1, l2, l3):
    print(f'{e1:.2f} {e2:20.2f} {e3:20.2f}')

3.00                 1.50                 9.10
6.00                 1.00                 3.00
1.00                 0.00                 2.00
5.00                12.00                 9.00

In [12]:
# 3.5 Nested Lists and List Slicing

A_low = [P*(1+2.5/100)**n for n in range(11)]
A_high = [P*(1+5.0/100)**n for n in range(11)]

amounts = [A_low, A_high]                  # list of two lists

print(amounts[0])                          # the A_low list
print(amounts[1])                          # the A_high list
print(amounts[1][2])                       # the 3rd element in A_high

[100.0, 102.49999999999999, 105.06249999999999, 107.68906249999996, 110.38128906249996, 113.14082128906244, 115.96934182128899, 118.86857536682123, 121.84028975099173, 124.88629699476652, 128.00845441963565]
[100.0, 105.0, 110.25, 115.76250000000002, 121.55062500000003, 127.62815625000003, 134.00956406250003, 140.71004226562505, 147.7455443789063, 155.13282159785163, 162.8894626777442]
110.25

In [48]:
L = [[9, 7], [-1, 5, 6]]
for row in L:
    for column in row:
        print(column)

9
7
-1
5
6

In [14]:
data = \
[[ 0.75, 0.29619813, -0.29619813, -0.75 ],
[ 0.29619813, 0.11697778, -0.11697778, -0.29619813],
[-0.29619813, -0.11697778, 0.11697778, 0.29619813],
[-0.75, -0.29619813, 0.29619813, 0.75 ]]

for row in data:
    for column in row:
        print(f'{column:18.8f}')

        0.75000000
        0.29619813
       -0.29619813
       -0.75000000
        0.29619813
        0.11697778
       -0.11697778
       -0.29619813
       -0.29619813
       -0.11697778
        0.11697778
        0.29619813
       -0.75000000
       -0.29619813
        0.29619813
        0.75000000

In [26]:
# List slicing is used to extract parts of a list

a = [2, 3.5, 8, 10]
print(a[2:])
print(a[1:3])
print(a[:3])
print(a[1:-1])
print(a[:])

[8, 10]
[3.5, 8]
[2, 3.5, 8]
[3.5, 8]
[2, 3.5, 8, 10]

In [72]:
# 3.6 Tuples

t = (2, 4, 6, 'temp.pdf')                # define a tuple
print (t[2])

6

In [75]:
t = 2, 4, 6, 'temp.pdf'                 # can skip the parentheses
print(t[3])

temp.pdf

In [79]:
t = t + (-1.0, -2.0)
print(t)
print(t[1])
print(t[2:])
print(6 in t)

(2, 4, 6, 'temp.pdf', -1.0, -2.0, -1.0, -2.0, -1.0, -2.0, -1.0, -2.0)
4
(6, 'temp.pdf', -1.0, -2.0, -1.0, -2.0, -1.0, -2.0, -1.0, -2.0)
True

In [83]:
for tuple in t:
    print(tuple)

2
4
6
temp.pdf
-1.0
-2.0
-1.0
-2.0
-1.0
-2.0
-1.0
-2.0