In [2]:
# 5.1 Reading User Input Data

# given an estimate of the atmospheric pressure p as a function of altitude h, Let's evaluate the formula using python

from math import exp

p0 = 100.0           #sea level pressure (kpa)
h0 = 8400            #scale height (m)

h = 8848
p = p0 * exp(-h/h0)

print(f'p: {p:3g}')

p: 34.8773

In [24]:
# Obtaining input from questions and answers
from math import exp

h = input('Input the altitude (in meters):')
h = float(h)

p0 = 100.0                                 #sea level pressure (kPa)
h0 = 8400                                  #scale height

p = p0 * exp(-h/h0)

print(p)

Input the altitude (in meters):100
98.81658194110152

In [32]:
n = int(input('n=? '))

for i in range(1, n+1):
    print(2*i)

n=? 3
2
4
6

In [40]:
# 5.2 Flexible User Input with eval and exec

s = '1+2'
r = eval(s)
print(r)

print(type(r))

3
<class 'int'>

In [44]:
# Using eval function for strings in form of list

r = eval('[1, 6, 7.5] + [1, 2]')
print(r)

print(type(r))

[1, 6, 7.5, 1, 2]
<class 'list'>

In [8]:
# Using eval to store and solve operand

i1 = eval(input('operand 1: '))
i2 = eval(input('operand 2: '))
r = i1 + i2

print(f'{type(i1)} + {type(i2)} becomes {type(r)} with value{r:4.1f}')

operand 1: 1
operand 2: 2.8
<class 'int'> + <class 'float'> becomes <class 'float'> with value 3.8

In [15]:
# entering list as our input

i1 = eval(input('operand 1: '))
i2 = eval(input('operand 2: '))
r = i1 + i2

print(f'{type(i1)} + {type(i2)} becomes {type(r)} with value {r:6}')

operand 1: 'one'
operand 2: 'two'
<class 'str'> + <class 'str'> becomes <class 'str'> with value onetwo

In [18]:
# Using exec function in a program(differences betwween eval & exec)

expression = '1+1'            #store expression in a string
statement = 'r = 1+1'         #store statement in a string
q = eval(expression)
exec(statement)

print(q, r)                   #results are the same

2 2

In [3]:
# using exec to execute multiple statements

formula = input('Write a formula involving x: ')
code = f"""
def f(x):
    return {formula}
"""
from math import *                      #make sure we have sin, cos, log, etc.
exec(code)                              #turn string formula into live function


#Now the function is defined, and we can ask the
#user for x values and eveluate f(x)
x = 0
while x is not None:
    x = eval(input('Give x(None to quit): '))
    if x is not None:
        y = f(x)
        print(f'f({x})={y}')

Write a formula involving x: sin(x) + 2*cos(x)
Give x(None to quit): 90
f(90)=-0.0021505686577824035
Give x(None to quit):

SyntaxError: invalid syntax (<string>, line 0)

In [4]:
from math import *

code = f"""
def f(x):
    return {formula}
"""

exec(code)
x = float(x)

def numerical_derivative(f, x, h=1E-5):
    return (f(x+h) - f(x-h))/(2*h)

print(f'Numerical derivative: {numerical_derivative(f, x)}')

NameError: name 'formula' is not defined

In [6]:
# To compute for the mean of the data in the Python_file

import os

infile = open('C:/Users/Sheyi_max/Desktop/ML/ML_Datasheet_Excel _Sample/Python_file.txt', 'r')
mean = 0
lines = 0

for line in infile:
    number = float(line)
    mean = mean + number
    lines += 1
mean = mean/lines

print(f'The mean value is {mean}')

The mean value is 20.95

In [9]:
# Splitting of words

s = "This is a typical string"
csvline = "Excel;sheets;often;use;semicolon;as;seperator"
print(s.split())
print(csvline.split())
print(csvline.split(';'))

['This', 'is', 'a', 'typical', 'string']
['Excel;sheets;often;use;semicolon;as;seperator']
['Excel', 'sheets', 'often', 'use', 'semicolon', 'as', 'seperator']

In [18]:
import os

file = open('C:/Users/Sheyi_max/Desktop/ML/ML_Datasheet_Excel _Sample/Rainfall.txt', 'w')

#for data in file:
file.write('Average rainfall (in mm) in Rome: 1188 months between 1782 and 1970' + '\n')
file.write('Jan 81.2' + '\n')
file.write('Feb 63.2' + '\n')
file.write('Mar 70.3' + '\n')
file.write('Apr 55.7' + '\n')
file.write('May 53.0' + '\n')
file.write('Jun 36.4' + '\n')
file.write('Jul 17.5' + '\n')
file.write('Aug 27.5' + '\n')
file.write('Sep 60.9' + '\n')
file.write('Oct 117.7' + '\n')
file.write('Nov 111.0' + '\n')
file.write('Dec 97.9' + '\n')
file.write('Year 792.9' + '\n')


file.close()

In [14]:
import os

os.remove('C:/Users/Sheyi_max/Desktop/ML/ML_Datasheet_Excel _Sample/Rainfall.txt')

In [51]:
#To split a data which consists of strings and values

def extract_data(Rainfall_data):
    infile = open('C:/Users/Sheyi_max/Desktop/ML/ML_Datasheet_Excel _Sample/Rainfall_data.txt', 'r')
    infile.readline()                       #skip the first line
    months = []
    rainfall = []

    for line in infile:
        words = line.split()                #splits into words
        months.append(words[0])
        rainfall.append(float(words[1]))
    infile.close()
    
    months = months[:-1]                   #Drop the "Year" entry
    annual_avg = rainfall[-1]              #Store the annual average
    rainfall = rainfall[:-1]               #Redefine to contain monthly data
    return months, rainfall, annual_avg

months, values, avg = extract_data('rainfall.txt')
print('The average rainfall for the months: ')
for month, value in zip(months, values):
    print(month, value)
print('The average rainfall for the year:', avg)

The average rainfall for the months:
Jan 81.2
Feb 63.2
Mar 70.3
Apr 55.7
May 53.0
Jun 36.4
Jul 17.5
Aug 27.5
Sep 60.9
Oct 117.7
Nov 111.0
Dec 97.9
The average rainfall for the year: 792.9

In [44]:
# 5.4 Writing Data to Files

import os

file = open('C:/Users/Sheyi_max/Desktop/ML/ML_Datasheet_Excel _Sample/Outfile.txt', 'w')

file.write('data \= [[ 0.75, 0.29619813, -0.29619813, -0.75 ],[ 0.29619813, 0.11697778, -0.11697778, -0.29619813],[-0.29619813, -0.11697778, 0.11697778, 0.29619813],[-0.75, -0.29619813, 0.29619813, 0.75 ]]')
file.close()

In [53]:
with open('C:/Users/Sheyi_max/Desktop/ML/ML_Datasheet_Excel _Sample/Outfile.txt', 'w') as outfile:
    for row in data:
        for column in row:
            outfile.write(f'{column:14.8f}')
        outfile.write('\n')

NameError: name 'data' is not defined

In [2]:
import sys

if len(h) < 2:
    print('You failed to provide a commmand linearg.!')
    exit()                          #abort
    
h = float(input('Input the altitude (in meters):'))

p0 = 100.0; h0 = 8400
print(p0 * exp(-h/h0))

TypeError: object of type 'float' has no len()